/* ROOT */

:root{
    --main-font-family: "Public Sans", "Arial", sans-serif;
    --main-title-font-family: "Ibarra Real Nova", "Times New Roman", serif;
    --main-bold-font-weight: 700;
    --main-font-weight: 400;
    --main-body-bg-color: #fafafa;
    --main-text-color: #33323d;
    --main-white-text-color: #fff;
    --main-hover-color: #5fb4a2;
    --main-valid-color:#f43030;
    --main-link-bg-color: #203A4c;
}